--extra-index-url https://test.pypi.org/simple/

# Switch into a virtual environment
# pip install -r requirements.txt
biopython
colour==0.1.5
cython>=0.19
dash>=0.40.0
dash-bio==0.0.9-rc12
dash-daq==0.1.4
gunicorn
jsonschema
matplotlib
numpy
pandas>=0.24.2
parmed
plotly>=3.5.0
requests
scipy>=1.1.0
scikit-learn
