--extra-index-url https://test.pypi.org/simple/

# Switch into a virtual environment
# pip install -r requirements.txt
biopython
colour==0.1.5
cython>=0.19
dash>=0.40.0
dash-bio==0.0.8rc13
dash-core-components==0.43.1
dash-daq==0.1.4
dash-html-components==0.13.5
gunicorn
jsonschema
matplotlib
numpy
pandas
parmed
plotly>=3.5.0
requests
scipy>=1.1.0
scikit-learn
