--extra-index-url https://test.pypi.org/simple/

# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt
biopython
chromedriver-binary==2.45.0
colour==0.1.5
cython>=0.19
dash==0.35.2
dash-bio==0.0.7rc2
dash-core-components==0.36.1
dash-html-components==0.13.2
dash-renderer==0.15.0
dash-table==3.1.3
flake8==3.6.0
ipdb==0.11
jsonschema
pandas
parmed
percy==2.0.1
plotly==3.5
pylint==2.2.2
pytest-dash==2.0.0
scipy>=1.1.0
selenium==3.141.0
sklearn
