version: 2

jobs:
    "node":
        docker:
            - image: circleci/python:3.7-stretch-node

        steps:
            - checkout
            - run:
                name: "Update Node.js and npm"
                command: |
                  curl -sSL "https://nodejs.org/dist/v11.10.1/node-v11.10.1-linux-x64.tar.xz" | sudo tar --strip-components=2 -xJ -C /usr/local/bin/ node-v11.10.1-linux-x64/bin/node
                  curl https://www.npmjs.com/install.sh | sudo bash
            - run:
                name: Check current version of node
                command: node -v

            - restore_cache:
                key: deps1-{{ .Branch }}-{{ checksum "package.json" }}

            - run:
                name: Install package.json
                command: npm i

            - save_cache:
                key: deps1-{{ .Branch }}-{{ checksum "package.json" }}
                paths:
                    - node_modules

            - run:
                name: Run eslint
                command: ./node_modules/.bin/eslint src
                when: always

            - run:
                name: "Build Node.js package"
                command: npm run build:js

            - run:
                name: "Create virtualenv"
                command: |
                    python -m venv venv

            - run:
                name: "Install Dash"
                command: |
                    . venv/bin/activate
                    pip install --upgrade pip
                    pip install dash==0.40.0

            - run:
                name: "Build Python package"
                command: npm run build:py


    "python-3.6": &test-template
        docker:
            - image: circleci/python:3.6-stretch-browsers

        environment:
            PERCY_ENABLED: False

        steps:
            - checkout

            - restore_cache:
                key: deps1-{{ .Branch }}-{{ checksum "tests/requirements.txt" }}

            - run:
                name: Create virtualenv
                command: |
                    python3 -m venv venv

            - run:
                name: Install requirements
                command: |
                    . venv/bin/activate
                    pip install --upgrade pip
                    pip install -r tests/requirements.txt --quiet

            - save_cache:
                key: deps1-{{ .Branch }}-{{ checksum "tests/requirements.txt" }}
                paths:
                    - "venv"

            - run:
                name: Run pylint
                command: |
                    . venv/bin/activate
                    pylint tests/ dash_bio/utils/ dash_bio/component_factory/
                when: always

            - run:
                name: Run flake8
                command: |
                    . venv/bin/activate
                    flake8 --max-line-length=100 tests/ dash_bio/utils/ dash_bio/component_factory/
                when: always

            - run:
                name: Run Integration Tests
                command: |
                    . venv/bin/activate
                    pip install --upgrade pip
                    pip install -r tests/requirements.txt
                    pytest --webdriver Chrome tests --ignore tests/test_skeleton.py

    "python-3.7":
        <<: *test-template
        docker:
            - image: circleci/python:3.7-stretch-browsers

        environment:
            PERCY_ENABLED: False



workflows:
    version: 2
    build:
        jobs:
            - "python-3.6"
            - "python-3.7"
            - "node"
