/* Generic components */
.alignment-wrapper {
    margin: 16px;
    padding: 32px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.alignment-card {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.alignment-subcard {
    margin-top: 16px;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.05);
}


/* Subcomponents */
.alignment-events {
    width: 100%;
    min-height: 100px;
    height: 10vh;
    border-radius: 4px;
}

.alignment-settings {
    margin-top: 8px;
    width: 100%;
}

.alignment-half-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.alignment-half-settings {
    margin-top: 8px;
    margin-right: 8px;
    width: 50%;
}

.alignment-display-none {
   display: none;
}


/* Selectors */
.alignment-select {
    margin-top: 16px;
}

.alignment-slider {
    width: 100%;
    margin-bottom: 20px;
}

.alignment-radio {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.alignment-separator {
    margin-top: 16px;
    margin-bottom: 8px;
}

.alignment-upload {
    margin-top: 16px;
    padding: 16px;
    height: 10vh;
    line-height: 10vh;
    border-width: 1px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}
