#circos-body {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color: #1F2132;
    color: #E2EFFA;
    font-weight:100;
    height: calc(100vh - 65px);
    overflow: auto;
}

#circos-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #fff;
}
#circos-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #7cd3f7;
    border-radius: 15px;
    padding-right: 5px;
}

#circos-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #262b3d;
    font-size: 10pt;
    float: left;
}

.circos-tab {
    height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}
.circos-controls {
    width: 100%;
    overflow: auto;
}
#circos-control-tabs .tab {
    background-color: #222830;
    color: #E2EFFA;
    padding: 15px;
    border-color: #557;
}

#circos-control-tabs .tab--selected {
    border-top: solid 2px #7CD3F7;
    background-color: #262b3d;
    color: #7CD3F7;
}

#circos-control-tabs .tab-content {
    padding: 20px;
}

#circos-hold {
    display: inline-block !important;
    padding: 0px;
    margin: 50px;
}
#circos-body .rc-slider-rail {
    background-color: rgba(255,255,255,0.7);
}
#circos-body .rc-slider-track {
    background-color: #7CD3F7;
}
#circos-body .rc-slider-handle {
    border-color: #7CD3F7;
}
#circos-body .rc-slider {
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 130px);
}
#circos-tabs-orig {
    display: none;
}

#circos-tabs-orig-parent {
    display: none;
}
