.circos-banner {
    height: 75px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}

.circos-banner h2{
    color: white;
    margin-left: 2%;
    display: inline-block;
}

.circos-banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.circos-datatable {
    overflowY: hidden;
}

.circos-size-slider {
   padding-left: 3.5%;
}

.circos-row-one {
   margin-top: 2.5%;
   padding: 1% 3% 2% 3%;
   border: 1px solid #2a3f5f;
}

.circos-event-data {
   width: 100%;
}

.circos-row-two {
   margin-top: 2.5%; 
   border: 1px solid #2a3f5f;
   padding: 1% 2% 3% 3%;
}

.circos-select-data-set {
   margin-right: 7.5%;
}

.circos-button-data {
   margin-top: 0.5%;
   margin-bottom: 2%;
   margin-right: 11%;
   display: flex;
   justify-content: center;
}

.circos-button-render {
   display: flex;
   margin-top: 0.5%;
   margin-bottom: 2%;
   margin-left: 9.5%;
   justify-content: center;
   align-items: center;
}

.circos-row-three {
   margin-top: 2.5%;
   border: 1px solid #2a3f5f;
   padding: 1% 0% 0% 3%
}

.circos-text-area {
   width: 100%;
   height: 20vh;
}

.circos-text-area-explain {
   height: 30vh;
   width: 100%;
}

.circos-upload-data {
   width: 100%;
   height: 11vh;
   line-height: 11vh;
   border-width: 1px;
   border-style: dashed;
   border-radius: 3px;
   text-align: center;
   margin: 3px;
   display: inline-table;
}

.circos-row-four {
   border: 1px solid #2a3f5f;
   padding: 2% 2% 1% 2%;
   border-top: 0px;
}

.circos-column-one {
   max-height: 88.5vh;
   padding-left: 1%;
   padding-top: 1%;
}

.circos-column-two {
   max-height: 88.5vh;
   overflow: auto;
   padding-top: 5%;
}

.circos-display-none {
   display: none;
}