#clustergram-body {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    background:#000000;
    padding: 0px;
    font-size:10pt;
    color: #dddddd;
}

#clustergram-header {
    width: calc(100% - 40px);
    height:auto;
    position: static;
    margin-top:0px;
    margin-left:0px;
    font-size:28pt;
    padding: 10px;
    background:blue;
    color:#ffffff;
}

#clustergram-options {
    width: 600px;
    position: relative;
    float:left;
    top: 10px; 
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
    max-height:300px;
    overflow:scroll;
    font-size: 10pt !important; 
}


::-webkit-scrollbar {
  width: 2px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: #ddd; 
}

#clustergram-wrapper {
    height: 600px;
    width:600px;
    float:left;
    padding: 0px;
    margin: 0px; 
}
.Select, .Select-control, input, .Select-menu-outer, .Select-value-label {
    background-color: black !important;
    color: white !important;
}
#clustergram-file-upload-container {
    width: 550px !important;
    margin-left: 10px !important;
    margin-top: 20px; 
    height:20px !important; 
}
.Select-control {
    width: 550px;
    margin-left: -175px;
}

.Select, input {
    width: 225px;
    margin:auto;
}
button {
    float: left;
    width:110px;
    margin: 6px;
}
input {
    float:left;
    width: 70px !important;
    margin: 6px !important;
}
#clustergram-info {
    margin-top: 20px;
    float: left;
    width: 600px;
    border-radius: 5px;
    padding: 10px; 
    border: 1px solid white;
}
