#clustergram-body {
    font-family: 'Open Sans Light', sans-serif;
    padding: 5px;
    background-color: #191A1C;
    color: #dddddd;
    height: calc(100vh - 65px);
    overflow: auto;
}

#clustergram-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #191A1C;
}
#clustergram-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #E4E4E4;
    border-radius:15px;
    padding-right:5px;
}

#clustergram-wrapper::-webkit-scrollbar {
    display: none;
}

#clustergram-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #232323;
    font-size: 10pt;
    float: left;
}

#clustergram-control-tabs .tab-content {
    padding: 20px;
}

.clustergram-tab {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}

#clustergram-control-tabs .Select-control {
    border: solid 1px #545454;
    background-color: #232323 !important;
}
#clustergram-control-tabs .Select, #clustergram-control-tabs .Select-control, #clustergram-control-tabs input, #clustergram-control-tabs .Select-menu-outer, #clustergram-control-tabs .Select-value-label {
    background-color: #232323 !important;
    border-color: #545454 !important;
    color: #E4E4E4;
}
#clustergram-control-tabs .Select-value-icon {
    background-color: #232323;
}
#clustergram-control-tabs .Select-value {
    border-color: #727272;
}
#clustergram-control-tabs .tab {
    background-color: #232323;
    color: #E4E4E4;
    font-weight: 200;
    font-size: 9pt;
    border: solid 1px #444444;
    border-top: none;
    height: 50px;
    padding: 15px;
}
#clustergram-control-tabs .tab--selected {
    border-top: solid 2px #FFBF00;
    color: #FFBF00;
}

#clustergram-body .Select-value-icon {
    color: #FFBF00;
    border-right: 1px solid #AAAAAA;
}

#clustergram-body .rc-slider-track {
    background-color: #FFBF00
}

#clustergram-body .rc-slider-handle {
    background-color: #232323;
    border: solid 2px #FFBF00
}


#clustergram-wrapper {
    height: 600px;
    width: 900px;
    display: inline-block !important;
    float:right;
    padding: 0px;
    overflow-x: scroll;
    margin: 0px;
}

#clustergram-file-upload-container {
    width: 95% !important;
    margin-top: 20px;
}

#clustergram-body #submit-group-marker, #clustergram-body #remove-all-group-markers {
    float: left;
    font-size:8pt !important;
    padding: 0px;
    margin-top: 10px;
    color: white;
    font-weight: 100;
    border-color: #FFBF00;
    text-align: center;
    width:48% !important;
    transition-duration: 500ms;
}


#clustergram-body #submit-group-marker:hover, #clustergram-body #remove-all-group-markers:hover {
    border-color: white;
}

#clustergram-body #submit-group-marker {
    margin-right:2%;
}
#clustergram-body #remove-all-group-markers {
    margin-left: 2%;
}

#clustergram-body #group-number, #clustergram-body #color {
    width: 48% !important;
}
#clustergram-body #group-number {
    margin-right: 2% !important;
}
#clustergram-body #color {
    margin-left: 2% !important;
}

#selected-rows .Select-control, #selected-columns .Select-control {
    padding-top: 10px;
    padding-bottom: 10px;
}
#selected-rows .Select-multi-value-wrapper, #selected-columns .Select-multi-value-wrapper {
    max-height: 100px;
    width: calc(100% - 10px);
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right:10px;
}

input#selected-rows {
    margin: 0px !important;
}

#cluster-checklist, #hide-labels {
    width: 70%;
    float: right;
    display: inline-block;
    margin-top: 5px;
}

#row-or-col-group, input#annotation {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#clustergram-body input {
    float:left;
    width: 100%;
    margin: 0px;
}
#clustergram-info {
    font-weight: 100;
    font-size: 9pt;
    margin-top: 20px;
}

#clustergram-datasets {
    padding: 0px;
    margin: 10px;
    width: calc(100% - 20px) !important;
}

#clustergram-file-upload-container {
    border: dotted 1px #FFBF00;
    width: calc(100% - 40px) !important;
    padding: 10px;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 9pt;
    font-weight: 100;
    text-align: center;
    border-radius: 5px;
}

#clustergram-body hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

#clustergram-body #file-upload-name {
    display: block;
    margin-left: 10px;
}
.clustergram-option-name {
    font-size: 13pt;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 100 !important;
    display: inline-block;
}
