@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');

#index-waitfor {
    background-color: #F3F6FA;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px; 
}

#gallery-title {
    text-align: center;
    font-size: 36pt;
    font-family: 'Dosis';
}
#gallery-subtitle {
    text-align: center;
    font-size: 18pt;
    font-family: 'Open Sans'
}

#gallery-apps{
    position: static;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width:90%; 
}

.gallery-app {
    position: relative; 
    display: inline-block;
    height: 300px; 
    width: 25%;
    min-width: 275px; 
    margin-right: 20px;
    margin-bottom:10px;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
}
.gallery-app-img {
    transition-duration:500ms;
    object-fit: cover;
    width: 100%; 
}
.gallery-app-info {
    border-radius: 10px;
    padding: 10px; 
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0; 
}
.gallery-app-name { 
    color: white;
    font-family: 'Dosis';
    font-size: 24pt;
    font-weight: 100 !important;
}
.gallery-app-desc {
    color: white;
    width: calc(100% - 30px);
    font-family: 'Open Sans'; 
    font-size: 12pt;
    margin: 15px; 
}
.gallery-app:hover .gallery-app-info, .gallery-app:hover .gallery-app-link {
    opacity: 1; 
}
.gallery-app:hover .gallery-app-img {
    -webkit-filter: blur(5px) grayscale(1) brightness(20%);
}

.gallery-app-link, .gallery-app-link a{
    font-size: 18pt;
    font-family: 'Open Sans';
    font-weight: 100;
    position: relative; 
    bottom: 0px; 
    right: 0px;
    text-align: right; 
    text-decoration: none;
    opacity: 0;
    color: #EF553B;
    font-variant-caps: all-small-caps;
    transition-duration: 500ms; 
}
.gallery-app-link:hover, .gallery-app-link a:hover {
    color: #F3F6FA; 
}

