#app-page-content {
    margin: 0px;
    margin-top: -1px; /* hide border between header and content */
    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    position: absolute;
    top: 60px;
}

#app-page-header {
    width: 100%;
    height: 60px !important;
    position: absolute;
    top: 0px;
}

#app-page-header > a > img {
    height: 70px;
    float: left;
    padding: 10px;
    padding-bottom: 0px;
    transition-duration:500ms;
}

#app-page-header > a > img:hover {
    filter:brightness(2.00); 
}

#app-page-header h2 {
    font-size: 28pt;
    margin-bottom: 10px;
    font-family: 'Times';
    font-weight: 100 !important; 
    position: relative;
    top: -10px; 
    display: inline-block;
}

#dashbio-logo > img{
    height: 40px !important;
}

#app-page-header > img {
    height: 35px;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    transition-duration:500ms;
}
#gh-link {
    text-decoration: none;
    font-size: 10pt; 
    font-family: sans-serif;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    padding: 2px; 
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 100;
    position: relative;
    top: 15px;
    float:right;
    margin-right: 20px;
    margin-left: 0px;
    transition-duration: 400ms; 
}
#gh-link:hover {
    -webkit-filter:invert(100%);
    background-color: rgba(0,0,0,0.3); 
}
