#ideogram-body {
    font-family: sans-serif;
    font-weight: 200;
    padding: 5px;
    background-color: #fdfcff;
    color: #303030;
    height: calc(100vh - 70px);
    overflow: auto;
}
#ideogram-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #ffdfcff;
}
#ideogram-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #230047;
    border-radius:15px;
    padding-right:5px;
}

#ideogram-wrapper::-webkit-scrollbar {
    display: none;
}

#ideogram-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}

#ideogram-control-tabs .tab-content {
    padding: 20px;

    height: 400px;
    margin: 20px;
    overflow-y: auto;
}
#ideogram-control-tabs .tab--selected {
    border-top: solid 2px #230047;
    color: #230047;
}
.ideogram-tab {
    height: 400px;
    overflow-y: auto;
    padding-right: 15px;
}

.ideogram-controls-name {
    display: inline-block;
    margin-top: 15px;
    font-weight: 400;
    vertical-align: middle;
    width: 160px;
    font-size: 14pt;
    margin-bottom: 20px;
}

#ideogram-feature-dropdown {
    display: inline-block;
    float: right;
}
#ideogram-container {
    display: inline-block;
    width: 800px;
    height: 550px;
    overflow: auto;
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 20px;
}

#_ideogramMiddleWrap {
    height: 550px;
}

#ideogram-body .Select {
    display: inline-block;
    width: 140px;
    position: relative;
    top: 10px;
}

#ideogram-body #chr-select-1 .Select, #ideogram-body #chr-select-2 .Select, #ideogram-body #chr-brush .Select {
    width: 65px !important;
}
#ideogram-body #chr-select-1 .Select {
    margin-right: 5px;
    margin-left: 0px;
}
#ideogram-body #chr-select-2 .Select {
    margin-left: 5px;
    margin-right: 0px;
}
.Select .ideogram-dropdown {
    display: inline-block;
}

input.ideogram-homology-inputs, input.ideogram-annot-inputs {
    display: inline-block;
    width: 140px;
}

#ideogram-body hr {
    width: 100%;
}
#organism-change, #orientation-switch, #bandlabel-switch, #chromlabel-switch, #rotatable-switch, #sex-switch, #fullband-switch, #resolution-select, #chr-brush, #annotation-select, #orientation-anote {
    display: inline-block;
    width: 140px;
}

#bandlabel-switch > div,  #chromlabel-switch > div, #rotatable-switch > div, #sex-switch > div, #fullband-switch > div {
    display:inline-block !important;
    text-align: center;
}
#bandlabel-switch label, #chromlabel-switch label, #rotatable-switch label, #sex-switch label, #fullband-switch > label {
    display: inline-block;
    text-transform: lowercase;
    font-variant: all-small-caps;
    position: relative;
    top: -5px;
    font-size: 12pt;
    font-weight: 500;
}

#bandlabel-switch > div > div > div, #chromlabel-switch > div > div > div, #rotatable-switch > div > div > div, #sex-switch > div > div > div, #fullband-switch > div > div > div {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 3px;
}

#ideogram-body #chr-margin-input, #ideogram-body #chr-height-input, #ideogram-body #chr-width-input, #ideogram-body #bar-input, #ideogram-body #height-input {
    width: 140px;
    display: inline-block;
}
.ideogram-slider .rc-slider-track {
    background-color: #230047;
}
.ideogram-slider .rc-slider-handle {
    border-color: #230047;
}
#ideogram-body h4 {
    margin-bottom: 25px;
}
#ideogram-body #chr-select-1, #ideogram-body #chr-select-2 {
    display: inline-block;
}
#chr-brush {
    width: 65px;
    float: right;
}
#brush-control-name {
    width: 200px;
}
#brush-data {
    font-size: 12pt;
}
