#ideogram-body {
    font-family: sans-serif;
    font-weight: 200;
    padding: 5px;
    background-color: #fdfcff;
    color: #303030;
    height: calc(100vh - 70px);
    overflow: auto;
}
#ideogram-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #ffdfcff;
}
#ideogram-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #230047;
    border-radius:15px;
    padding-right:5px;
}

#ideogram-wrapper::-webkit-scrollbar {
    display: none;
}

#ideogram-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}

#ideogram-control-tabs .tab-content {
    padding: 20px;

    height: 400px;
    margin: 20px;
    overflow-y: auto;
}
#ideogram-control-tabs .tab--selected {
    border-top: solid 2px #230047;
    color: #230047;
}
.ideogram-tab {
    height: 400px;
    overflow-y: auto;
    padding-right: 15px;
}

.ideogram-controls-name {
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
    vertical-align: middle;
    width: 160px;
    font-size: 12pt;
}

#ideogram-feature-dropdown {
    display: inline-block;
    float: right;
}
#ideogram-container {
    display: inline-block;
    width: 800px;
    height: 550px;
    overflow: auto;
    margin-left: 50px;
    margin-top: 50px;
    padding-right: 20px; 
}

