#mhp-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
}

#mhp-controls-div {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}

#mhp-slider-div {
    width: 50%;
    margin: 2px;
}

#mhp-graph-div{
    width: 90%;
    align-items: center;
}

.mhp-text {
    color: #506784;
}

.mhp-intro {
    font-size: 1.3em;
    width: 60%;
    align-items: center;
}