#mhp-page-content {
    font-family: 'Open Sans Light', sans-serif;
    background-color: #E8F0F9;
    color: #5B5B5B;
    width: 100%;
    min-height: calc(100vh - 60px);
}

#manhattan-body {
    font-family: 'Open Sans Light', sans-serif;
    padding: 5px;
    background-color: #191A1C;
    color: #dddddd;
    height: calc(100vh - 65px);
    overflow: auto;
}

#manhattan-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #191A1C;
}
#manhattan-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #E4E4E4;
    border-radius:15px;
    padding-right:5px;
}

#manhattan-wrapper::-webkit-scrollbar {
    display: none;
}

#manhattan-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}

#manhattan-control-tabs .tab-content {
    padding: 20px;
}

.manhattan-tab {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}

#manhattan-control-tabs .tab {
    background-color: #fff;
    font-weight: 200;
    font-size: 9pt;
    border: solid 1px #D3D3D3;
    height: 50px;
    padding: 15px;
}

#manhattan-control-tabs .tab--selected {
    border-top: solid 2px #56B5FF;
    border-bottom: none;
    color: #56B5FF;
}

#mhp-graph{
    height: 550px;
    width: 100%;
}
#mhp-graph-div {
    display: inline-block !important;
    margin-top: 50px;
}
