#mol3d-body {
    font-family: sans-serif;
    padding: 5px
}

.mol3d-banner img {
    float: right;
    right: 10px;
    height: 50px;
}

#mol3d-upload-container {
    height: 50px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    left: 5%;
    margin: 3px;
    padding: 5px;
}

.mol3d-controls {
    border-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: grey;
    padding: 10px;
    top: 2px;
    right: 5px;
    width: 30%;
    height: auto;
}

#mol3d-demo-dropdown {
    border-top-style: solid;
    border-color: grey;
    border-width: 2px;
}

#mol3d-control-bgcolor {    
    border-color: grey;
    border-width: 2px;
}
#mol3d-selection-display {
    border-bottom-style: solid;
    border-color: grey;
    border-width: 2px;
}

#mol3d-slider-opacity {
    width: 95%;
}

#mol3d-output-data-upload {
    position: absolute;
    width: 70%;
    top:1%;
    bottom:10%;
    left: 30%;
    right:2px;
}

#mol3d-selection_output {
    width: 98%;
    height: 30%;
    left: 50%;
    top: 30%;
}