#mol3d-body {
    font-family: sans-serif;
    padding: 5px;
    background-color: #f9f5f4;
    color: black;
    height: calc(100vh - 65px);
    overflow: auto;
}

#mol3d-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #e8dfde;
    font-size: 10pt;
    float: left;
}
#mol3d-biomolecule-viewer {
    display: inline-block;
    width: calc(100% - 500px);
    float: left;
    margin-top: 50px;
}
.mol3d-tab {
    max-height: 400px;
    overflow-y: auto;
}
#mol3d-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #f9f5f4;
}
#mol3d-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #841101;
    border-radius:15px;
    padding-right:5px;
}

#mol-3d > .molecule-3d {
    width: 800px !important;
    height: 500px !important;
}

#mol3d-coloring-value {
    border: none;
}

.mol3d-controls .Select-control {
    border: none !important;
}

#mol3d-control-tabs .tab {
    background-color: #e8dfde;
    color: black;
}
#mol3d-control-tabs .tab--selected {
    border-top: solid 2px #841101;
    color: #841101;
}
#mol3d-control-tabs .tab-content {
    padding: 20px;
}
.mol3d-controls {
    padding: 8px;
    top: 2px;
    right: 5px;
    height: auto;
}

#mol3d-selection-output {
    max-height: 135px;
    overflow-y: auto;
    margin: 10px;
    margin-bottom: 0px;
}
#mol3d-body .chrome-picker {
    border: none !important;
    border-radius: 0px !important;
}
#mol3d-coloring-value {
    margin-top: 20px;
}

#mol3d-upload-container {
    height: 30px;
    line-height: 40px;
    border: dashed 1px #746A69;
    border-radius: 5px;
    text-align: center;
    left: 5%;
    width: 95%;
    margin-top: 10px;
}

#mol3d-download-sample-data {
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    bottom: 10px;
    width: 99%;
}

#mol3d-demo-dropdown {
    margin-top: 20px;
}

#mol3d-input-bgcolor {
    width:100%;
}

#mol3d-slider-opacity {
    width: 90%;
}

#mol3d-coloring-key, #dropdown-style-color {
    display: inline-block;
    width: 48%;
}
#dropdown-style-color {
    margin-right: 2%;
}
#mol3d-coloring-key {
    margin-left: 2%;
}
#mol3d-custom-molcolor {
    width: 69%;
}

#mol3d-selection_output {
    width: 100%;
    height: 30%;
    left: 50%;
    top: 30%;
}
