#mol3d-body {
    font-family: sans-serif;
    padding: 5px
}

#mol3d-header {
    width: 98%;
    height: 60px;
    text-align: center;
    padding: 16px;
    background: green;
    color: black;
    border-radius: 5px;
}

#mol3d-upload-container {
    width: 99%;
    height: 50px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}

.mol3d-controls {
    border-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: grey;
    padding: 10px;
    top: 2px;
    right: 5px;
    width: 30%;
    height: auto;
}

#mol3d-control-bgcolor {
    border-top-style: solid;
    border-color: grey;
    border-width: 2px;
}
#mol3d-selection-display {
    border-bottom-style: solid;
    border-color: grey;
    border-width: 2px;
}

#mol3d-slider-opacity {
    width: 95%;
}

#mol3d-output-data-upload {
    position: absolute;
    width: 70%;
    top:28%;
    bottom:10%;
    left: 30%;
    right:2px;
}

#mol3d-selection_output {
    width: 98%;
    height: 30%;
    left: 50%;
    top: 30%;
}