.needle-upload {
   width: 90%;
   height: 11vh;
   line-height: 11vh;
   border-width: 1px;
   border-style: dashed;
   border-radius: 3px;
   text-align: center;
   margin: 10px;
   display: inline-table;
}

.needle-tabs {
    margin-top: 5px;
    max-height: 90vh;
    overflow-y: auto;
}

.needle-load-option-div {
    margin-left: 5px;
    margin-right: 5px;
}

.needle-config-option-div {
    margin-left: 5px;
    margin-right: 5px;
}

#needle-plot-div {
    margin-top: 5px;
}

#needle-plot {
    width: 100%;
    height: 750px;
}

#needle-dataset-header-div {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

#needle-download-data-div {
    display: none;
}

#needle-download-data-dropdown {
    width: 140px;
}

#needle-stem-color-dropdown {
    width: 140px;
}

#needle-head-color-dropdown {
    width: 300px;
}
#needle-head-symbol-dropdown {
    width: 300px;
}

.needle-radio {
    display: flex;
    flex-direction: row;
}

.needle-dataset-header-div {
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.needle-config-item-style{
    margin-top: 5px;
    margin-left: 15px;
    margin-right : 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.needle-horizontal-style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}