.needle-upload {
   width: 100%;
   height: 11vh;
   line-height: 11vh;
   border-width: 1px;
   border-style: dashed;
   border-radius: 3px;
   text-align: center;
   margin: 3px;
   display: inline-table;
}

.four.columns {
    max-height: 90vh;
    overflow-y: auto;
}
