.oncoprint-wrapper {
    margin: 16px;
    padding: 32px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.oncoprint-card {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.oncoprint-subcard {
    margin-top: 16px;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    background-color: #F5F5F5;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.oncoprint-select {
    margin-top: 16px;
}

.oncoprint-events {
   width: 100%;
   min-height: 100px;
   height: 10vh;
   border-radius: 4px;
}

.oncoprint-upload {
    margin-top: 16px;
    padding: 16px;
    height: 10vh;
    line-height: 10vh;
    border-width: 1px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 8px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.oncoprint-display-none {
   display: none;
}
