#oncoprint-body {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color: #FAFCFE;
    color: #505050;
    height: calc(100vh - 65px);
    overflow: auto;
}

#oncoprint-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #FAFCFE;
}
#oncoprint-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #009DFF;
    border-radius: 15px;
    padding-right: 5px;
}

#oncoprint-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
    display: inline-block;
}
#oncoprint-control-tabs .tab-content {
    padding: 20px;
}
.oncoprint-tab {
    max-height: 420px;
    overflow-y: auto;
    padding-right: 15px;
}

#oncoprint-control-tabs .tab {
    background-color: #fff;
    padding: 15px;
}

#oncoprint-control-tabs .tab--selected {
    border-top: solid 2px #009DFF;
    color: #009DFF;
}

#oncoprint-control-tabs .tab-content {
    padding: 20px;
}

#oncoprint-chart {
    width: calc(100vw - 600px);
    margin: 50px;
    display: inline-block !important;
}
