#seq-view-body {
    font-family: sans-serif;
    font-weight: 200;
    padding: 5px;
    background-color: #FFF9FC;
    color: #303030;
    height: calc(100vh - 70px);
    overflow: auto;
}
#seq-view-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #FFF9FC;
}
#seq-view-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #C50063;
    border-radius:15px;
    padding-right:5px;
}

#seq-view-wrapper::-webkit-scrollbar {
    display: none;
}

#seq-view-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}

#seq-view-control-tabs .tab-content {
    padding: 20px;

    height: 400px;
    margin: 20px;
    overflow-y: auto;
}
#seq-view-control-tabs .tab--selected {
    border-top: solid 2px #C50063;
    color: #C50063;
}
.seq-view-tab {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}
#seq-view-container {
    width: 500px;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}
#seq-view-component-container {
    padding: 20px;
    margin:20px;
    height: 225px;
    background-color: #fff;
}
#seq-view-component-container .sequenceBody.scroller {
    overflow-x: hidden;
}
#sequence-viewer {
    margin-top: -10px;
}
#seq-view-body hr {
    margin-top: 30px;
    margin-bottom: 10px;
}
#sequence-viewer input {
    width: 100% !important;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 10pt;
}
#sequence-viewer span.badge {
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}
#seq-view-body h4 {
    font-size: 20pt;
}
#sequence-viewer .sequenceHeader.row h4 {
    height: 44px;
}
#seq-view-controls-container input[type=text]{
    width: 350px;
    margin-left:auto;
}

#coverage-submit, #coverage-reset {
    width: 45%;
    padding: 0px;
    margin-top: 20px;
    font-size: 7pt;
    margin-top:5px;
}
#coverage-submit {
    margin-right: 5%;
}
#coverage-reset {
    margin-left: 5%;
}

#seq-view-number-entries {
    margin-top: -5px;
    font-size: 10pt;
}

.inputSearchSeq {
    font-size: 14px;
    width: 100px;
    padding:5px;
    border-radius:3px;
    border: solid 1px grey;
    margin-left: 10px;
}
.seq-view-controls-name {
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
    vertical-align: middle;
    width: 160px;
    font-size: 12pt;
}
#preloaded-sequences, #fasta-entry-dropdown, #selection-or-coverage, #sel-slider-or-input, #translation-alphabet, #sel-color, #mouse-sel-or-subpart-sel, #coverage-color, #coverage-bg-color, #coverage-tooltip, #coverage-underscore {
    display: inline-block;
    padding-top: 10px;
    float: right;
}
#preloaded-sequences {
    padding-top: 0px;
}
#coverage-underscore {
    float: none;
    margin-left: 12px;
    position: relative;
    top: 5px;
}
#mouse-sel-or-subpart-sel label {
    margin-left: 40px !important;
}
input#coverage-color, input#coverage-bg-color, input#coverage-tooltip {
    padding: 2px 6px;
    height: 30px;
    margin-top: 5px;
    margin-left: 50px;
}

#seq-view-body input[type=radio] {
    margin-right: 5px;
}
.Select, #selection-or-coverage, #sel-slider-or-input, #mouse-sel-or-subpart-sel {
    width: 140px !important;
}
#selection-or-coverage, #sel-slider-or-input {
    margin-top: -5px;
}
#cov-options .seq-view-controls-name {
    margin-top: 10px;
}
#sel-slider-or-input {
    margin-left: 15px;
}
#coverage-color, #coverage-bg-color, #coverage-tooltip {
    width: 100px !important;
}
#sel-region-low, #sel-region-high {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10pt;
}
#sel-region-inputs {
    margin-top: 30px;
    padding-left: 10px;
}
#seq-view-body button {
    transition-duration: 500ms;
    border: solid 1px #303030;
    color: #303030;

}
#coverage-submit {
    margin-top: 15px;
    margin-right: 15px;
}
#coverage-reset {
    margin-top: 15px;
    margin-left: 15px;
}
#seq-view-body .rc-slider {
    margin-top: 30px;
    display: block;
    width: calc(100% - 20px);
    margin-left: 10px;
}
#seq-view-body label {
    margin-left: 35px;
    display: block;
}
#selection-or-coverage label{
    margin-left: 30px;
}

#fasta-entry-dropdown .Select, #translation-alphabet .Select, #sel-color .Select {
    width: 110px !important;
}
#fasta-entry-dropdown, #selection-or-coverage {
    position: relative;
    top: -5px;
}

.seq-view-info-element-title {
    font-size: 18px;
    margin-left: -5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
}

#seq-view-upload-display {
    display: inline-block;
    vertical-align: top;
    width: auto;

}
#seq-view-fasta-upload {
    border: dashed 1px #C50063;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 9pt;
    width: calc(100% - 42px);
}


#seq-view-controls {
    overflow-y: auto;
    height: 600px;
    padding-right: 5px;
    word-wrap: break-word;
}

#seq-view-body .rc-slider-track {
    background-color: #C50063;
}
#seq-view-body .rc-slider-handle {
    border: solid 2px #C50063;
}

#seq-view-info {
    overflow-y: auto;
    margin: 20px;
    padding: 5px;
    padding-right: 10px;
    height: 215px;
}

#seq-view-info-container {
    overflow-y: auto;
    background-color: #fff;
    word-wrap: break-word;
    padding-right: 10px;
    margin: 20px;
    font-size: 10pt;
}

#seq-view-info-desc {
    border-left: solid 2px #A12F80;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#seq-view-info-aa-comp {
    border-left: solid 2px #74438C;
    padding-left: 15px;
    padding-bottom: 10px;
}

#seq-view-info-coverage-clicked {
    border-left: solid 2px #494C85;
    padding-left: 15px;
    padding-bottom: 10px;
}

#seq-view-info-mouse-selection {
    border-left: solid 2px #2E4D71;
    padding-left: 15px;
    padding-bottom: 10px;
}

#seq-view-info-subpart-sel {
    border-left: solid 2px #2F4858;
    padding-left: 15px;
    padding-bottom: 10px;
}

#preloaded-and-uploaded-alert {
    width:80%;
    border: solid 1px #C50063;
    border-radius: 5px;
    margin-left: calc(10% - 20px);
    margin-bottom: 30px;
    padding: 20px;
}

#seq-view-download-sample-data {
    height: 42px;
    font-size: 8pt;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#seq-view-body button:hover {
    border: solid 1px #C50063;
    color: #C50063;
}
