@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#seq-view-body {
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    bottom: 0px; 
    width: 100%;
    min-height: 100vh;
    padding-top: 50px; 
    background-color: #F3F6FA; 
    font-family: 'Open Sans'; 
}

#seq-view-controls-container input[type=text]{
    width: 80%;
    margin-left:auto;
}
#coverage-submit, #coverage-reset {
    width: 45%;
    padding: 0px;
    font-size: 7pt;
    margin-top:5px; 
}
#coverage-submit {
    margin-right: 5%;
}
#coverage-reset {
    margin-left: 5%;
}

#seq-view-body ::-webkit-scrollbar {
    width: 0px;
    height: 0px; 
}
#seq-view-number-entries {
    text-align: center;
}
#seq-view-header {
    width: calc(100% - 40px);
    height: auto;
    margin: 0px;
    font-size: 60px;
    margin-bottom: 20px; 
    background: #C8D4E3;
    color: #636efa;
    font-family: 'Open Sans';
    font-variant: all-small-caps;
}

#seq-view-header img {
    height: 50px;
    margin-right: 50px; 
}
#translation-alphabet {
    text-align: left;
    margin-left:20%;
}
#sel-color {
    width: 80%;
    margin-left: 10%; 
}

.inputSearchSeq {
    font-size: 14px;
    width: 100px;
    padding:5px;
    border-radius:3px;
    border: solid 1px grey;
    margin-left: 10px;
}
.seq-view-controls-name{
    font-weight: bold;
    text-align: center;
    font-size: 16px; 
}
.seq-view-info-element {
    font-weight: bold;
    font-size: 16px;
    margin-left: -5px; 
}
#preloaded-sequences, #fasta-entry-dropdown {
    width: 120px;
    padding-left: 25px; 
}

#seq-view-upload-display {
    display: inline-block;
    vertical-align: top; 
    width: auto;
    
}
#seq-view-fasta-upload{
    width: 400px;
    height: 50px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center; 
    margin: 20px;
    top: 10px; 
    padding: 10px;
}
#sequence-viewer-container{
    width: 400px;
    border: solid 1px #636efa;
    border-radius: 5px;
    padding: 10px;
    margin:20px;
    overflow:scroll;
}

#seq-view-controls-container {
    width:175px;
    height: 600px;
    overflow: scroll;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top; 
    margin: 20px; 
    border: solid 1px #636efa; 
    border-radius: 5px;
    padding: 10px;
    padding-top:30px;
}

#seq-view-sel-slider-container {
    width: 80%;
    padding: 10px;
    border: solid 1px #636efa; 
    border-radius: 5px;
    margin: calc(10% - 10px); 
    text-align:center;
    padding:10px;
}
#seq-view-body .rc-slider {
    width: 80%;
    margin: 10px;
    margin-left: 10%;
}
		   
#seq-view-info-container {
    width: 380px;
    height: 600px;
    border: solid 1px #636efa; 
    overflow:scroll;
    word-wrap: break-word;
    margin: 20px;
    vertical-align: top; 
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

#preloaded-and-uploaded-alert {
    width:80%;
    border: solid 1px #636efa;
    border-radius: 5px;
    margin-left: calc(10% - 20px);
    margin-bottom: 30px; 
    padding: 20px; 
}

#cov-options {
    width: 80%;
    margin-top:20px; 
    margin-left: calc(10% - 5px);
    border: solid 1px #6363fa;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
#selection-or-coverage {
    margin-left: 10px;
}
