#speck-body {
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    background-color: #fff;
    color: #232323;
    font-weight:100;
    height: calc(100vh - 65px);
    overflow: auto;
}

#speck-body ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #fff;
}
#speck-body ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #000;
    border-radius: 15px;
    padding-right: 5px;
}

#speck-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #eee;
    font-size: 10pt;
    float: left;
}

#speck-tab {
    max-height: 460px;
    overflow-y: auto;
    padding-right: 15px;
}

#speck-control-tabs .tab {
    background-color: #eee;
    color: #232323;
    padding: 15px;
    border-color: #ccc;
}

#speck-control-tabs .tab--selected {
    border-top: solid 2px #5673FA;
    color: #5673FA;
}

#speck-control-tabs .tab-content {
    padding: 20px;
}

#speck-container {
    display: inline-block !important;
    padding: 0px;
    margin: 50px;
}
