body {
    font-family: Helvetica, sans-serif;
    background:#000000;
    padding: 0px;
    color: #dddddd;
}

#header {
    width: calc(100% - 40px);
    height:auto;
    position: static;
    margin-top:0px;
    margin-left:0px;
    font-size:36pt;
    padding: 20px;
    background:blue;
    color:#ffffff;
}

#options {
    width: 250px;
    position: relative;
    float:left;
    top: 100px;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
}

#clustergram-wrapper {
    height: 800px;
    width:900px;
    float:left;
    margin-top:0px;
    margin-left:20px;
    margin-bottom: 50px; 
}
.Select, .Select-control, input, .Select-menu-outer, .Select-value-label {
    background-color: black !important;
    color: white !important;
}
.Select, input {
    width: 225px;
    margin:auto;
}
button {
    float: left;
    width:110px;
    margin: 6px;
}
input {
    float:left;
    width: 70px !important;
    margin: 6px !important;
}
#info {
    margin-top: 100px;
    margin-left: 20px;
    float: left;
    width: 400px;
    border-radius: 5px;
    padding: 10px; 
    border: 1px solid white;
}
