body {
    font-family: Helvetica, sans-serif;
    background:#000000;
    padding: 0px;
    color: #ffffff;
}

#header {
    width: calc(100% - 40px);
    height:auto;
    position: static;
    margin-top:0px;
    margin-left:0px;
    font-size:36pt;
    padding: 20px;
    background:blue;
    color:#ffffff;
}

#options {
    width: 170px;
    position: absolute;
    top:250px;
    right:100px;
    border: solid 1px grey;
    border-radius: 5px;
    padding: 10px;
}

#clustergram-wrapper {
    height: 500px;
    margin-top:20px;
    margin-left:20px;
}
