#vp-page-content {
    font-family: 'Open Sans Light', sans-serif;
    background-color: #F1F9FA;
    color: #5B5B5B;
    width: 100%;
    min-height: calc(100vh - 60px);
}

#vp-page-content ::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    margin-right: 500px;
    background-color: #F1F9FA;
}
#vp-page-content ::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #19D3F3;
    border-radius:15px;
    padding-right:5px;
}

#vp-page-content::-webkit-scrollbar {
    display: none;
}

#vp-control-tabs {
    width: 400px;
    height: 550px;
    margin: 50px;
    margin-right: 0px;
    background-color: #fff;
    font-size: 10pt;
    float: left;
}


#vp-control-tabs .tab-content {
    padding: 20px;
}

.vp-tab {
    height: 440px;
    overflow-y: auto;
    padding-right: 20px;
    margin: 20px;
}

#vp-control-tabs .tab {
    background-color: #fff;
    font-weight: 200;
    font-size: 9pt;
    border: solid 1px #D3D3D3;
    height: 50px;
    padding: 15px;
}

#vp-control-tabs .tab--selected {
    border-top: solid 2px #19d3f3;
    border-bottom: none;
    color: #19d3f3;
}


#vp-graph{
    height: 550px;
    width: 100%;
}
#vp-graph-div {
    display: inline-block !important;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.vp-option {
    display: block;
    margin-bottom: 10px;
}
.vp-option-name {
    font-size: 12pt;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}

#vp-page-content .rc-slider-track {
    background-color: #19d3f3;
}
#vp-page-content .rc-slider-handle, #vp-page-content .rc-slider-dot-active {
    border-color: #19d3f3;
}
#vp-bound-val, #vp-genomic-line-val {
    display: inline-block;
    float:right;
}
#vp-page-content .rc-slider {
    width: 180px !important;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#vp-dataset-dropdown {
    display: inline-block;
 }
.vp-test-util-div {
    display: none;
}

#vp-page-content .chrome-picker, #vp-color-picker {
    border: none !important;
}
#vp-color-picker {
    margin-top: 20px;
    display: inline-block;
}
#vp-num-points-display {
    display: inline-block;
    float: right;
    margin-top: 35px;
}
.vp-event-data-display {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-top: 10px;
}
#vp-event-data {
    margin-bottom: 20px;
}
